 <div class="starter-template">
                          <h1>{{titulo}}</h1>
                          <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
                        </div>

    <div class="row">
        <div class="col-8">{{ history }}</div>
        <div class="col-4">
            <img src="../img/goku.png" alt="">
        </div>
    </div>