<!DOCTYPE html>
<html lang="en">
    {{> head }}
    <body>
          {{> nav }}   
                  <main role="main" class="container">

                       {{> aboutHtml}}
                      {{> footer}}
                      </main>
    
    </body>
</html>